<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="">
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://vps-1791261-x.dattaweb.com:3306/carmind</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">almacen.C12</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>

        <mapping class="main/java/com/mindia/carmind/entities/Empresas" />
        <mapping class="main/java/com/mindia/carmind/entities/Evaluaciones" />
        <mapping class="main/java/com/mindia/carmind/entities/EvaluacionesPreguntas" />
        <mapping class="main/java/com/mindia/carmind/entities/LogEvaluaciones" />
        <mapping class="main/java/com/mindia/carmind/entities/LogPreguntas" />
        <mapping class="main/java/com/mindia/carmind/entities/Preguntas" />
        <mapping class="main/java/com/mindia/carmind/entities/Secciones" />
        <mapping class="main/java/com/mindia/carmind/entities/Usuarios" />
        <mapping class="main/java/com/mindia/carmind/entities/Vehiculos" />

    </session-factory>
</hibernate-configuration>